.new-arrivals {
  padding-top: 40px;
  padding-bottom: 40px;
  .product-card {
    .media {
      position: relative;
      // border: 1px solid red;
      .discount {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        background-color: #000;
        border-radius: 3px;
        padding: 3px 10px;
        font-weight: 500;
        font-size: 14px;
      }
      .add-to-compare,
      .add-to-wishlist {
        all: unset;
        position: absolute;
        top: 40px;
        right: 0px;
        color: #fff;
        background-color: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: -1;
        transition: 600ms;
        cursor: pointer;
        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
      &:hover {
        .add-to-compare,
        .add-to-wishlist {
          right: 20px;
          z-index: 2;
          opacity: 1;
        }
      }
      .add-to-wishlist {
        top: 80px;
      }
      .add-to-cart {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        z-index: -1;
        transition: 600ms;
        white-space: nowrap;
      }
      &:hover {
        .add-to-cart {
          opacity: 1;
          z-index: 2;
          bottom: 20px;
        }
      }
      .product-image {
        border-radius: 10px;
      }
    }
    .content {
      padding: 10px 0;
      .title {
        font-size: 20px;
      }
      .price-wrapper {
        padding: 15px 0;
        .price {
          font-weight: 500;
        }
        .old-price {
          margin-left: 10px;
          text-decoration: line-through;
          color: #5f5f5f;
        }
      }
      .colors {
        gap: 10px;
        .color {
          all: unset;
          box-sizing: content-box;
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 2px solid #fff;
          outline: 1px solid red;
          cursor: pointer;
          margin-right: 10px;
          &.active {
            border: none;
            outline-color: transparent;
            width: 18px;
            height: 18px;
          }
        }
        .colors-rest {
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}
