asgiref==3.7.2
distlib==0.3.6
Django==4.2.2
django-cors-headers==4.1.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
filelock==3.12.2
itypes==1.2.0
Pillow==10.0.0
platformdirs==3.8.0
PyJWT==1.7.1
pytz==2023.3
rest-framework-simplejwt==0.0.2
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
virtualenv==20.23.1
