@import "../../assets/style/components.scss";

#header {
  header {
    background: #000;
    padding: 3px 0;
    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
    }
    p {
      font-weight: 500;
      font-size: 15px;
      text-transform: none;
    }
    .mini-menus {
      display: flex;
      gap: 30px;
      .mini-menu {
        position: relative;
        button {
          all: unset;
          font-weight: 500;
          font-size: 15px;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          svg {
            font-size: 10px;
          }
        }
        ul {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 60px;
          background-color: #fff;
          box-shadow: 3px 3px 15px #afafaf;
          padding: 10px;
          border-radius: 5px;
          li {
            color: $link-color;
            transition: $link-transition;
            cursor: pointer;
            padding: 2px 0;

            &:hover {
              color: $link-color-hover;
            }
          }
          opacity: 0;
          z-index: -1;
          &.active {
            transition: 0.5s;
            top: 40px;
            opacity: 1;
            z-index: 5;
          }
        }
      }
    }
    .social {
      font-weight: bold;
      button {
        all: unset;
        font-weight: 500;
        transition: $link-transition;
        cursor: pointer;
        &:hover {
          color: #c5c5c5;
        }
      }
    }
  }

  .main {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 15px #e0e0e0;
    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    nav {
      display: flex;
      gap: 30px;
      a {
        text-decoration: none;
        transition: $link-transition;
        color: $link-color;
        font-weight: 500;
        font-size: 17px;
        &:hover,
        &.active {
          color: $link-color-hover;
        }
      }
    }
    .other {
      display: flex;
      gap: 50px;
      button {
        all: unset;
        transform: scale(1);
        transition: 0.3s;
        cursor: pointer;
        svg {
          font-size: 18px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
