$border-color: rgb(0, 0, 0, 0.2);
$border-color-active: rgb(0, 0, 0, 0.8);

$link-color: #000;
$link-color-hover: #707070;
$link-transition: 200ms;

$danger: #dc3545;
$primary: #0d6efd;

$main-button-color: #fff;
$main-button-bg: #000;
$main-button-hover-border-color: #fff;

$section-gray-bg: #f8f8f8;
